# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Documentation directories

# build output
./src/docs/dist/
./src/docs/dist2/
./src/docs/tradex-chart.es.js
# generated types
./src/docs/.astro/

# dependencies
./src/docs/node_modules/

# logs
./src/docs/npm-debug.log*
./src/docs/yarn-debug.log*
./src/docs/yarn-error.log*
./src/docs/pnpm-debug.log*


# environment variables
./src/docs/.env
./src/docs/.env.production

# macOS-specific files
./src/docs/.DS_Store
