html, body {height:100%;}

body {
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: #CCC;
  text-align: left;
  margin: 0 0 .5em 1em;
}

p {
  text-align: left;
  color: #bbb;
  margin: 0 0 .5em 1em;
}

a {
  color: #CCC;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #CCC;
  margin: 0;
  padding: 0;
  height: 100%;
}

#container {
  height: 100%;
}

#nav {
  width: 10%;
  float: left;
  text-align: left;
}

#nav button {
  margin-left: 1em;
}

#stage {
  width: 90%;
  height: 100%;
  float: right;
}

#demo {
  height: 100%;
  width: 100%; 
  border:none;
}