html, body {height:100%;}

body {
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: #CCC;
  text-align: left;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0;
  padding: 0;
  height: 100%;
}

#container {
  height: 100%;
}

#nav {
  width: 5%;
  float: left;
}

#stage {
  width: 95%;
  height: 100%;
  float: right;
}

#demo {
  height: 100%;
  width: 100%; 
  border:none;
}